In [1]:
import pandas as pd
import numpy as np

In [2]:
ls

01 - Creating the features.ipynb
02 - EDA.ipynb
03 - Modelling - ExtraTreesRegressor.ipynb
03 - Modelling - LinearRegression (hasn't worked yet, autoregression).ipynb
03 - Modelling - LinearRegression.ipynb
03 - Modelling - RandomForestRegressor.ipynb
03 - Modelling - SVM-Copy1.ipynb
03 - Modelling - SVM.ipynb
03 - Modelling - lot of models.ipynb
176-01-bikelocations.csv
176-01-ind_dublinalt.csv
176-01-ind_dublinalt.csv.gz
176-01-sum_dublinalt.csv
2008 machine learning start-Copy1.ipynb
2008 machine learning start-Copy2.ipynb
2008 machine learning start.ipynb
2017-06-25.csv
2017-06.csv
2017-06.ipynb
2017-06_features.csv
2017-06_features_complete.csv
2018-06-20.csv
2018-06-20.ipynb
2018-06-20_features.csv
2018-06-20_features2_test.csv
2018-06-20_features_test.csv
2018-Copy1.ipynb
2018.ipynb
2018_features.csv
2018_portobelloroad.csv
PORTOBELLO ROAD.csv
Untitled.ipynb
all-station-features-march_on.ipynb
all-station-features-march_on.py
all-station-features.ipynb
b4bedtest.csv
bikes_2018.csv
cp test
dsddd.csv
f_features.csv
features2.csv
features_ready.csv
fulldata-spoken.ipynb
knn for neil.ipynb
machinestarts-2years_all stations.ipynb
machinestarts.ipynb
machinestarts2.ipynb
notebook.tex
pboh-features.ipynb
pboh.ipynb
pboh_test 2.csv
pboh_test.csv
scattered.ipynb
testthemodel.csv
time_series_features.csv
validation.csv
well.csv
xxx.csv

In [2]:
df = pd.read_csv('bikes_2018.csv')

In [3]:
df.rename(columns={'tfl_id': 'station_id'}, inplace=True)

In [4]:
df = df.sort_values(by=['station_id','timestamp'])

In [5]:
df['deposit'] = df['bikes'].diff().fillna(0).astype(int)

In [6]:
df['bike_lag'] = df['bikes'].shift().fillna(0).astype(int)

In [7]:
df = df.sort_values(by=['timestamp'])

In [8]:
df = df.set_index('timestamp')

In [9]:
df['hour'] = pd.DatetimeIndex(df.index).hour

In [10]:
df['day_of_week'] = pd.DatetimeIndex(df.index).dayofweek

In [11]:
df['month'] = pd.DatetimeIndex(df.index).month

In [12]:
pop_desposit = df.pop('deposit')

In [13]:
df['deposit'] = pop_desposit

In [ ]:
df.head()

,station_id,bikes,spaces,total_docks,bike_lag,hour,day_of_week,month,deposit
timestamp,,,,,,,,,
2018-01-01 00:00:02,1,18,13,31,0,0,0,1,0
2018-01-01 00:00:02,19,15,15,30,6,0,0,1,9
2018-01-01 00:00:02,91,9,21,30,0,0,0,1,9
2018-01-01 00:00:02,21,18,12,30,8,0,0,1,10
2018-01-01 00:00:02,90,1,39,40,29,0,0,1,-28

In [ ]:
df.to_csv('2018_features.csv')