In [1]:
import pandas as pd
import numpy as np

In [2]:
ls

01 - Creating the features.ipynb
01.2 - Creating the features.ipynb
02 - EDA.ipynb
03 - Modelling - ExtraTreesRegressor.ipynb
03 - Modelling - LinearRegression (hasn't worked yet, autoregression).ipynb
03 - Modelling - LinearRegression.ipynb
03 - Modelling - RandomForestRegressor.ipynb
03 - Modelling - SVM-Copy1.ipynb
03 - Modelling - SVM.ipynb
03 - Modelling - lot of models.ipynb
176-01-bikelocations.csv
176-01-ind_dublinalt.csv
176-01-ind_dublinalt.csv.gz
176-01-sum_dublinalt.csv
2008 machine learning start-Copy1.ipynb
2008 machine learning start-Copy2.ipynb
2008 machine learning start.ipynb
2017-06-25.csv
2017-06.csv
2017-06.ipynb
2017-06_features.csv
2017-06_features_complete.csv
2018-06-20.csv
2018-06-20.ipynb
2018-06-20_features.csv
2018-06-20_features2_test.csv
2018-06-20_features_test.csv
2018-Copy1.ipynb
2018.ipynb
2018_features.csv
2018_portobelloroad.csv
PORTOBELLO ROAD.csv
Untitled.ipynb
all-station-features-march_on.ipynb
all-station-features-march_on.py
all-station-features.ipynb
b4bedtest.csv
bikes_2018.csv
cp test
dsddd.csv
f_features.csv
features2.csv
features_ready.csv
fulldata-spoken.ipynb
knn for neil.ipynb
machinestarts-2years_all stations.ipynb
machinestarts.ipynb
machinestarts2.ipynb
notebook.tex
pboh-features.ipynb
pboh.ipynb
pboh_test 2.csv
pboh_test.csv
scattered.ipynb
testthemodel.csv
time_series_features.csv
validation.csv
well.csv
xxx.csv

In [4]:
df = pd.read_csv('2017-06.csv')

In [9]:
df.head()

               timestamp  station_id  bikes  spaces  total_docks
20   2017-06-01 00:00:01           1      0      31           31
121  2017-06-01 00:02:01           1      0      31           31
222  2017-06-01 00:04:02           1      0      31           31
323  2017-06-01 00:06:02           1      0      31           31
424  2017-06-01 00:08:02           1      0      31           31

In [6]:
df.rename(columns={'tfl_id': 'station_id'}, inplace=True)

In [8]:
df = df.sort_values(by=['station_id','timestamp'])

In [10]:
df['bike_lag'] = df['bikes'].shift().fillna(0).astype(int)

In [11]:
df['bike_pull'] = df['bikes'].shift(-1).fillna(0).astype(int)

In [12]:
df['deposit'] = df['bikes'].diff().fillna(0).astype(int)

In [13]:
df = df.sort_values(by=['timestamp'])

In [14]:
df = df.set_index('timestamp')

In [15]:
df['hour'] = pd.DatetimeIndex(df.index).hour

In [16]:
df['day_of_week'] = pd.DatetimeIndex(df.index).dayofweek

In [17]:
df['month'] = pd.DatetimeIndex(df.index).month

In [18]:
df['weekend'] = df['day_of_week'] > 4

In [23]:
df['weekend'] = df['weekend'].astype(int)

In [27]:
pop_desposit = df.pop('bike_pull')

In [28]:
df['bike_pull'] = pop_desposit

In [30]:
df.head()

,station_id,bikes,spaces,total_docks,bike_lag,hour,day_of_week,month,weekend,deposit,bike_pull
timestamp,,,,,,,,,,,
2017-06-01 00:00:01,1,0,31,31,0,0,3,6,0,0,0
2017-06-01 00:00:01,82,22,0,22,4,0,3,6,0,18,22
2017-06-01 00:00:01,81,25,15,40,0,0,3,6,0,25,25
2017-06-01 00:00:01,80,25,15,40,0,0,3,6,0,25,26
2017-06-01 00:00:01,9,0,24,24,28,0,3,6,0,-28,0

In [33]:
df = df.dropna()

In [34]:
df.to_csv('2018_pulled_features.csv')