In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('2017-06.csv')

In [13]:
df.tail(2)

,timestamp,station_id,bikes,spaces,total_docks,bike_lag,bike_pull,bike_pull2,bike_lag2
27900196,2018-06-28 16:44:02,112,3,27,30,3,2,0,3
27900305,2018-06-28 16:46:02,112,2,28,30,3,0,0,3

In [4]:
df.rename(columns={'tfl_id': 'station_id'}, inplace=True)

In [5]:
df = df.sort_values(by=['station_id','timestamp'])

In [6]:
df['bike_lag'] = df['bikes'].shift().fillna(0).astype(int)

In [9]:
df['bike_lag2'] = df['bikes'].shift(2).fillna(0).astype(int)

In [7]:
df['bike_pull'] = df['bikes'].shift(-1).fillna(0).astype(int)

In [8]:
df['bike_pull2'] = df['bikes'].shift(-2).fillna(0).astype(int)

In [14]:
df['deposit'] = df['bikes'].diff().fillna(0).astype(int)

In [15]:
df = df.sort_values(by=['timestamp'])

In [16]:
df = df.set_index('timestamp')

In [17]:
df['hour'] = pd.DatetimeIndex(df.index).hour

In [18]:
df['day_of_week'] = pd.DatetimeIndex(df.index).dayofweek

In [19]:
df['month'] = pd.DatetimeIndex(df.index).month

In [20]:
df['weekend'] = df['day_of_week'] > 4

In [21]:
df['weekend'] = df['weekend'].astype(int)

In [22]:
popped = df.pop('bike_pull2')

In [24]:
df['bike_pull2'] = popped

In [29]:
df.head()

,station_id,bikes,spaces,total_docks,bike_lag,bike_lag2,deposit,hour,day_of_week,month,weekend,bike_pull2
timestamp,,,,,,,,,,,,
2017-06-01 00:00:01,1,0,31,31,0,0,0,0,3,6,0,0
2017-06-01 00:00:01,82,22,0,22,4,4,18,0,3,6,0,22
2017-06-01 00:00:01,81,25,15,40,0,1,25,0,3,6,0,25
2017-06-01 00:00:01,80,25,15,40,0,0,25,0,3,6,0,26
2017-06-01 00:00:01,9,0,24,24,28,28,-28,0,3,6,0,0

In [27]:
df = df.drop('bike_pull', axis=1)

In [28]:
df = df.dropna()

In [30]:
df.to_csv('2018_pulled_features_plustwo.csv')