In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.tree import DecisionTreeClassifier

from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor

In [2]:
ls

01 - Creating the features.ipynb
01--1-Copy1.2 - Creating the features bike lag +4.ipynb
01--1.2 - Creating the features bike lag +4.ipynb
01-.2 - Creating the features bike lag +3.ipynb
01.2 - Creating the features bike lag +2.ipynb
01.2 - Creating the features.ipynb
02 - EDA.ipynb
03 - Modelling - ExtraTreesRegressor.ipynb
03 - Modelling - LinearRegression (hasn't worked yet, autoregression).ipynb
03 - Modelling - LinearRegression.ipynb
03 - Modelling - RandomForestClassifier.ipynb
03 - Modelling - RandomForestRegressor-plus2.ipynb
03 - Modelling - RandomForestRegressor-plus3.ipynb
03 - Modelling - RandomForestRegressor-plus4.ipynb
03 - Modelling - RandomForestRegressor.ipynb
03 - Modelling - RandomForestRegressor_old.ipynb
03 - Modelling - SVM-Copy1.ipynb
03 - Modelling - SVM.ipynb
03 - Modelling - lot of models.ipynb
04 - Live - RandomForestRegressor - Four models in action-Copy1.ipynb
04 - Live - RandomForestRegressor - Four models in action-Copy2.ipynb
04 - Live - RandomForestRegressor - Four models in action-Copy3.ipynb
04 - Live - RandomForestRegressor - Four models in action.ipynb
176-01-bikelocations.csv
176-01-ind_dublinalt.csv.gz
176-01-sum_dublinalt.csv
2008 machine learning start-Copy1.ipynb
2008 machine learning start-Copy2.ipynb
2008 machine learning start.ipynb
2017-06-25.csv
2017-06.csv*
2017-06.ipynb
2018-06-20.csv
2018-06-20.ipynb
2018-06-20_features.csv
2018-06-20_features2_test.csv
2018-06-20_features_test.csv
2018-Copy1.ipynb
2018.ipynb
2018_portobelloroad.csv
2018_pulled_features.csv*
2018_pulled_features_plusfour.csv*
PORTOBELLO ROAD.csv
Thursday 2nd August.csv
Untitled.ipynb
all-station-features-march_on.ipynb
all-station-features-march_on.py
all-station-features.ipynb
b4bedtest.csv
basica validation model 1.xlsx
cp test
f_features.csv
features2.csv
finalized_model_with_pull.sav
fulldata-spoken.ipynb
ind_dublinalt (2) 2.csv
ind_dublinalt (2) 3.csv
ind_dublinalt (2).csv
ind_dublinalt (2).csv.zip
knn for neil.ipynb
machinestarts-2years_all stations.ipynb
machinestarts.ipynb
machinestarts2.ipynb
make_me_work.csv
mework2.csv
notebook.tex
ouuu.csv
pboh-features.ipynb
pboh.ipynb
pboh_test 2.csv
pboh_test.csv
scattered.ipynb
sum_dublinalt.csv
testthemodel.csv
time_series_features.csv
validateme.csv
validateme2.csv
validateme3.csv
validateme4.csv
validates_all.csv
validation.csv
well.csv
xxx.csv

In [2]:
df = pd.read_csv('2018_pulled_features_plustwo.csv', index_col='timestamp', parse_dates=True)

In [3]:
df.head(2)

,station_id,bikes,spaces,total_docks,bike_lag,bike_lag2,deposit,hour,day_of_week,month,weekend,bike_pull2
timestamp,,,,,,,,,,,,
2017-06-01 00:00:01,1,0,31,31,0,0,0,0,3,6,0,0
2017-06-01 00:00:01,82,22,0,22,4,4,18,0,3,6,0,22

In [4]:
X = df.drop('bike_pull2', axis=1)
y = df['bike_pull2']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [5]:
X_test.head(2)

,station_id,bikes,spaces,total_docks,bike_lag,bike_lag2,deposit,hour,day_of_week,month,weekend
timestamp,,,,,,,,,,,
2018-06-18 06:20:02,10,7,9,16,7,7,0,6,0,6,0
2018-03-28 12:54:02,31,9,11,20,11,10,-2,12,2,3,0

In [6]:
rfr = RandomForestRegressor(n_estimators=50, random_state=0, n_jobs=-1)

In [7]:
model = rfr.fit(X_train, y_train)

In [8]:
predictions = rfr.predict(X_test)

In [9]:
print(rfr.feature_importances_)

[1.07175328e-03 9.94468878e-01 2.97987066e-04 1.34883817e-04
 2.63608393e-04 4.58882468e-04 2.66536875e-04 8.12466515e-04
 8.57077186e-04 1.31867241e-03 4.92537853e-05]

In [10]:
print(predictions)

[ 6.9312766   9.137      14.59302381 ...  0.04816362  2.
 19.67946101]

In [11]:
errors = abs(predictions - y_test)

In [12]:
print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees.')

Mean Absolute Error: 0.46 degrees.

In [ ]:
i = 0
j = 0
print(len(predictions))
for pred in predictions:
    #print(pred)
    if pred > 5:
        print(pred)
        i = i + 1
    else:
        j = j +1
        
print(i)
print(j)
res = i + j
print(res)
print(len(predictions))

In [82]:
#print(confusion_matrix(y_test, predictions))

In [81]:
#print(classification_report(y_test, predictions))

In [80]:
print(model.predict(validate_model))

[-4.  0. -1.]

In [ ]:
plt.errorbar(X, y, 0.3, fmt='o', alpha=0.5)
plt.plot(X_train, y_train, '-r')
plt.plot(X_test, y_test, '-k', alpha=0.5)

In [13]:
print(confusion_matrix(y_test, predictions))
print(classification_report(y_test, predictions))

ValueError: Classification metrics can't handle a mix of multiclass and continuous targets

In [14]:
confirm = validate_model['deposit']

NameError: name 'validate_model' is not defined

In [ ]:
validation_to_set = validate_model.drop('deposit', axis=1)

In [ ]:
predictions = model.predict(validation_to_set)

In [18]:
len(pd.unique(df['station_id']))

111

In [16]:
test = df.head(111)

In [17]:
test.to_csv('validateme2.csv')

In [25]:
test.head()

,station_id,bikes,spaces,total_docks,bike_lag,hour,day_of_week,month,weekend,deposit,bike_pull
timestamp,,,,,,,,,,,
2017-06-01 00:00:01,1,0,31,31,0,0,3,6,0,0,0
2017-06-01 00:00:01,82,22,0,22,4,0,3,6,0,18,22
2017-06-01 00:00:01,81,25,15,40,0,0,3,6,0,25,25
2017-06-01 00:00:01,80,25,15,40,0,0,3,6,0,25,26
2017-06-01 00:00:01,9,0,24,24,28,0,3,6,0,-28,0

In [18]:
test = test.drop(['bike_pull2'], axis=1)

In [19]:
test.head()

,station_id,bikes,spaces,total_docks,bike_lag,bike_lag2,deposit,hour,day_of_week,month,weekend
timestamp,,,,,,,,,,,
2017-06-01 00:00:01,1,0,31,31,0,0,0,0,3,6,0
2017-06-01 00:00:01,82,22,0,22,4,4,18,0,3,6,0
2017-06-01 00:00:01,81,25,15,40,0,1,25,0,3,6,0
2017-06-01 00:00:01,80,25,15,40,0,0,25,0,3,6,0
2017-06-01 00:00:01,9,0,24,24,28,28,-28,0,3,6,0

In [20]:
res = model.predict(test)

In [31]:
res = model.score(X_test, y_test)

In [32]:
print("Test score: {0:.2f} %".format(100 * score))

Test score: 99.29 %

In [23]:
for x in res:
    print(int(x))

0
21
25
26
0
26
33
1
0
31
39
0
30
27
17
20
11
12
20
0
1
18
18
17
40
34
19
21
0
0
19
37
29
39
7
40
33
40
23
28
4
0
0
30
38
37
2
30
0
2
0
29
29
27
0
4
2
0
15
29
0
0
0
28
27
0
0
0
6
5
0
0
0
30
0
0
1
10
1
24
24
1
19
7
2
1
26
2
0
18
0
0
0
2
6
6
0
0
0
21
30
0
25
40
29
0
16
0
0
29
25

In [24]:
import pickle

In [ ]:
s = pickle.dumps(model)

In [26]:
score = model.score(X_test, y_test)

In [27]:
print("Test score: {0:.2f} %".format(100 * score))

Test score: 99.29 %

In [28]:
from sklearn.externals import joblib

In [29]:
# Save to file in the current working directory
joblib_file = "joblib_model_pull2.pkl"

In [30]:
joblib.dump(model, joblib_file)

['joblib_model_pull2.pkl']

In [ ]:
#model = joblib.load(joblib_file)

In [42]:
cd /musicbox

[Errno 2] No such file or directory: '/musicbox'
/