In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.tree import DecisionTreeClassifier

from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor

In [6]:
df = pd.read_csv('2018_pulled_features.csv', index_col='timestamp', parse_dates=True)

In [7]:
df.head(2)

,station_id,bikes,spaces,total_docks,bike_lag,hour,day_of_week,month,weekend,deposit,bike_pull
timestamp,,,,,,,,,,,
2017-06-01 00:00:01,1,0,31,31,0,0,3,6,0,0,0
2017-06-01 00:00:01,82,22,0,22,4,0,3,6,0,18,22

In [4]:
X = df.drop('bike_pull', axis=1)
y = df['bike_pull']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [5]:
X_test.head(2)

,station_id,bikes,spaces,total_docks,bike_lag,hour,day_of_week,month,weekend,deposit
timestamp,,,,,,,,,,
2018-06-18 06:20:02,10,7,9,16,7,6,0,6,0,0
2018-03-28 12:54:02,31,9,11,20,11,12,2,3,0,-2

In [7]:
rfr = RandomForestRegressor(n_estimators=50, random_state=0, n_jobs=-1)

In [8]:
model = rfr.fit(X_train, y_train)

In [9]:
predictions = rfr.predict(X_test)

In [10]:
print(rfr.feature_importances_)

[4.19189885e-04 9.97986673e-01 1.23506192e-04 4.94677986e-05
 9.44190800e-05 3.09596937e-04 3.59993442e-04 5.44261832e-04
 1.88197682e-05 9.40718208e-05]

In [11]:
print(predictions)

[ 7.          9.32       14.96       ...  0.02120014  2.
 19.83519128]

In [15]:
errors = abs(predictions - y_test)

In [16]:
print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees.')

Mean Absolute Error: 0.29 degrees.

In [82]:
#print(confusion_matrix(y_test, predictions))

In [81]:
#print(classification_report(y_test, predictions))

In [80]:
print(model.predict(validate_model))

[-4.  0. -1.]

In [ ]:
plt.errorbar(X, y, 0.3, fmt='o', alpha=0.5)
plt.plot(X_train, y_train, '-r')
plt.plot(X_test, y_test, '-k', alpha=0.5)

In [14]:
#print(confusion_matrix(y_test, predictions))
#print(classification_report(y_test, predictions))

In [ ]:
confirm = validate_model['deposit']

In [ ]:
validation_to_set = validate_model.drop('deposit', axis=1)

In [ ]:
predictions = model.predict(validation_to_set)

In [18]:
len(pd.unique(df['station_id']))

111

In [20]:
test = df.head(111)

In [23]:
test.to_csv('validateme.csv')

In [25]:
test.head()

,station_id,bikes,spaces,total_docks,bike_lag,hour,day_of_week,month,weekend,deposit,bike_pull
timestamp,,,,,,,,,,,
2017-06-01 00:00:01,1,0,31,31,0,0,3,6,0,0,0
2017-06-01 00:00:01,82,22,0,22,4,0,3,6,0,18,22
2017-06-01 00:00:01,81,25,15,40,0,0,3,6,0,25,25
2017-06-01 00:00:01,80,25,15,40,0,0,3,6,0,25,26
2017-06-01 00:00:01,9,0,24,24,28,0,3,6,0,-28,0

In [29]:
test = test.drop(['bike_pull'], axis=1)

In [30]:
test.head()

,station_id,bikes,spaces,total_docks,bike_lag,hour,day_of_week,month,weekend,deposit
timestamp,,,,,,,,,,
2017-06-01 00:00:01,1,0,31,31,0,0,3,6,0,0
2017-06-01 00:00:01,82,22,0,22,4,0,3,6,0,18
2017-06-01 00:00:01,81,25,15,40,0,0,3,6,0,25
2017-06-01 00:00:01,80,25,15,40,0,0,3,6,0,25
2017-06-01 00:00:01,9,0,24,24,28,0,3,6,0,-28

In [32]:
res = model.predict(test)

In [35]:
res

array([1.00889309e-02, 2.20600000e+01, 2.60200000e+01, 2.62600000e+01,
       1.09333333e-01, 2.64800000e+01, 3.35000000e+01, 1.85566535e+00,
       1.30000000e-01, 3.38800000e+01, 3.88266667e+01, 6.66666667e-03,
       3.03600000e+01, 2.75200000e+01, 1.68600000e+01, 1.99600000e+01,
       1.18400000e+01, 9.88666667e+00, 2.00733333e+01, 0.00000000e+00,
       1.94666667e+00, 1.90505380e+01, 1.58200000e+01, 1.75000000e+01,
       3.99990361e+01, 3.38600000e+01, 1.99200000e+01, 2.15800000e+01,
       2.50039069e-04, 0.00000000e+00, 1.99400000e+01, 3.99000000e+01,
       3.05000000e+01, 3.99970974e+01, 6.90000000e+00, 4.00000000e+01,
       2.84400000e+01, 4.00000000e+01, 2.34000000e+01, 2.80400000e+01,
       3.94000000e+00, 0.00000000e+00, 0.00000000e+00, 3.03000000e+01,
       3.80000000e+01, 3.80000000e+01, 3.17333333e+00, 3.02800000e+01,
       0.00000000e+00, 3.02000000e+00, 1.06000000e+00, 3.00000000e+01,
       2.99800000e+01, 2.88600000e+01, 0.00000000e+00, 4.76321212e+00,
       2.37123810e+00, 6.30769231e-02, 1.56666667e+01, 2.69800000e+01,
       1.30000000e+00, 1.20000000e-01, 0.00000000e+00, 2.90400000e+01,
       2.67000000e+01, 6.00000000e-02, 0.00000000e+00, 6.00000000e-02,
       6.79564286e+00, 5.62000000e+00, 0.00000000e+00, 4.30847372e-02,
       1.92307692e-04, 3.00000000e+01, 8.00000000e-01, 0.00000000e+00,
       2.18000000e+00, 1.05600000e+01, 1.74000000e+00, 2.45000000e+01,
       2.62800000e+01, 9.47409877e-01, 2.01197183e+01, 6.78000000e+00,
       2.72000000e+00, 1.80000000e+00, 2.76200000e+01, 2.84000000e+00,
       2.06362224e-02, 1.90200000e+01, 1.20000000e-01, 1.44927536e-04,
       7.47135828e-03, 1.83333333e+00, 6.38000000e+00, 6.56000000e+00,
       2.20000000e-01, 0.00000000e+00, 9.73333333e-01, 2.13400000e+01,
       3.02000000e+01, 0.00000000e+00, 2.62038810e+01, 3.99615802e+01,
       3.00000000e+01, 0.00000000e+00, 1.61555955e+01, 1.08665436e+00,
       0.00000000e+00, 2.99942328e+01, 2.52127489e+01])

In [36]:
for x in res:
    print(x)

0.010088930922720904
22.06
26.02
26.26
0.10933333333333335
26.48
33.5
1.8556653509085068
0.13
33.88
38.82666666666667
0.006666666666666666
30.36
27.52
16.86
19.96
11.84
9.886666666666667
20.073333333333334
0.0
1.9466666666666668
19.050538024691242
15.82
17.5
39.99903614457831
33.86
19.92
21.58
0.0002500390686044694
0.0
19.94
39.9
30.5
39.99709735432481
6.9
40.0
28.44
40.0
23.4
28.04
3.94
0.0
0.0
30.3
38.0
38.0
3.1733333333333333
30.28
0.0
3.02
1.06
30.0
29.98
28.86
0.0
4.763212121212121
2.371238095238095
0.06307692307692307
15.666666666666664
26.98
1.3
0.12
0.0
29.04
26.7
0.06
0.0
0.06
6.795642857142857
5.62
0.0
0.043084737227940956
0.0001923076923076923
30.0
0.8
0.0
2.18
10.56
1.74
24.5
26.28
0.9474098771018542
20.119718309859152
6.78
2.72
1.8
27.62
2.84
0.02063622242932588
19.02
0.12
0.00014492753623188405
0.007471358280795998
1.833333333333333
6.38
6.56
0.22
0.0
0.9733333333333334
21.34
30.2
0.0
26.20388095238095
39.961580166589336
30.0
0.0
16.155595460095455
1.0866543595794032
0.0
29.99423278680014
25.212748917748918

In [17]:
from sklearn.externals import joblib

In [18]:
# Save to file in the current working directory
joblib_file = "joblib_model_pull1.pkl"

In [19]:
joblib.dump(model, joblib_file)

['joblib_model_pull1.pkl']