In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.tree import DecisionTreeClassifier

from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor

import IPython
from sklearn.externals import joblib

In [2]:
#df = pd.read_csv('2018_pulled_features_plusfour.csv', index_col='timestamp', parse_dates=True)
df = pd.read_csv('2018_pulled_features_plusfour.csv')

In [3]:
df.head(2)

,timestamp,station_id,bikes,spaces,total_docks,bike_lag,bike_lag2,bike_lag3,bike_lag4,deposit,hour,day_of_week,month,weekend,bike_pull4
0,2017-06-01 00:00:01,1,0,31,31,0,0,0,0,0,0,3,6,0,0
1,2017-06-01 00:00:01,82,22,0,22,4,4,4,4,18,0,3,6,0,22

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27900395 entries, 0 to 27900394
Data columns (total 15 columns):
timestamp      object
station_id     int64
bikes          int64
spaces         int64
total_docks    int64
bike_lag       int64
bike_lag2      int64
bike_lag3      int64
bike_lag4      int64
deposit        int64
hour           int64
day_of_week    int64
month          int64
weekend        int64
bike_pull4     int64
dtypes: int64(14), object(1)
memory usage: 3.1+ GB

In [5]:
df.describe()

,station_id,bikes,spaces,total_docks,bike_lag,bike_lag2,bike_lag3,bike_lag4,deposit,hour,day_of_week,month,weekend,bike_pull4
count,2.790040e+07,2.790040e+07,2.790040e+07,2.790040e+07,2.790040e+07,2.790040e+07,2.790040e+07,2.790040e+07,2.790040e+07,2.790040e+07,2.790040e+07,2.790040e+07,2.790040e+07,2.790040e+07
mean,5.229972e+01,1.258310e+01,1.871186e+01,3.136877e+01,1.258310e+01,1.258310e+01,1.258310e+01,1.258310e+01,7.168357e-08,1.150290e+01,2.993001e+00,6.505371e+00,2.844712e-01,1.258310e+01
std,2.989625e+01,1.134922e+01,1.190888e+01,7.526243e+00,1.134922e+01,1.134922e+01,1.134922e+01,1.134922e+01,6.414599e-01,6.922074e+00,1.998915e+00,3.306885e+00,4.511622e-01,1.134922e+01
min,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-4.000000e+01,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00
25%,2.700000e+01,2.000000e+00,9.000000e+00,2.700000e+01,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,0.000000e+00,6.000000e+00,1.000000e+00,4.000000e+00,0.000000e+00,2.000000e+00
50%,5.300000e+01,1.000000e+01,1.900000e+01,3.000000e+01,1.000000e+01,1.000000e+01,1.000000e+01,1.000000e+01,0.000000e+00,1.200000e+01,3.000000e+00,6.000000e+00,0.000000e+00,1.000000e+01
75%,7.800000e+01,2.100000e+01,2.900000e+01,4.000000e+01,2.100000e+01,2.100000e+01,2.100000e+01,2.100000e+01,0.000000e+00,1.800000e+01,5.000000e+00,9.000000e+00,1.000000e+00,2.100000e+01
max,1.120000e+02,4.300000e+01,5.200000e+01,4.000000e+01,4.300000e+01,4.300000e+01,4.300000e+01,4.300000e+01,4.000000e+01,2.300000e+01,6.000000e+00,1.200000e+01,1.000000e+00,4.300000e+01

In [5]:
#X = df.drop('bike_pull4', axis=1)
#y = df['bike_pull4']
#
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [6]:
#X_test.head(2)

,station_id,bikes,spaces,total_docks,bike_lag,bike_lag2,bike_lag3,bike_lag4,deposit,hour,day_of_week,month,weekend
timestamp,,,,,,,,,,,,,
2018-06-18 06:20:02,10,7,9,16,7,7,7,7,0,6,0,6,0
2018-03-28 12:54:02,31,9,11,20,11,10,9,9,-2,12,2,3,0

In [7]:
#rfr = RandomForestRegressor(n_estimators=50, random_state=0, n_jobs=-1)

In [8]:
#model = rfr.fit(X_train, y_train)

In [9]:
#predictions = rfr.predict(X_test)

In [10]:
#print(rfr.feature_importances_)

[2.56766288e-03 9.85311685e-01 6.70104571e-04 3.42769403e-04
 4.84966721e-04 9.59842636e-04 9.74755106e-04 1.29082675e-03
 4.89788760e-04 2.03428049e-03 1.86183800e-03 2.88382979e-03
 1.27649680e-04]

In [11]:
print(predictions)

[ 6.77914108  9.155      14.264      ...  0.09929697  2.
 20.65507143]

In [12]:
errors = abs(predictions - y_test)

In [13]:
print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees.')

Mean Absolute Error: 0.66 degrees.

In [14]:
#print(confusion_matrix(y_test, predictions))

# print(classification_report(y_test, predictions))

In [80]:
print(model.predict(validate_model))

[-4.  0. -1.]

In [ ]:
plt.errorbar(X, y, 0.3, fmt='o', alpha=0.5)
plt.plot(X_train, y_train, '-r')
plt.plot(X_test, y_test, '-k', alpha=0.5)

In [4]:
#print(confusion_matrix(y_test, predictions))
#print(classification_report(y_test, predictions))

In [28]:
pred_X_test = df.head(111)

In [16]:
test.to_csv('validateme4.csv')

In [30]:
pred_X_test.head()

,station_id,bikes,spaces,total_docks,bike_lag,bike_lag2,bike_lag3,bike_lag4,deposit,hour,day_of_week,month,weekend,bike_pull4
timestamp,,,,,,,,,,,,,,
2017-06-01 00:00:01,1,0,31,31,0,0,0,0,0,0,3,6,0,0
2017-06-01 00:00:01,82,22,0,22,4,4,4,4,18,0,3,6,0,22
2017-06-01 00:00:01,81,25,15,40,0,1,0,0,25,0,3,6,0,25
2017-06-01 00:00:01,80,25,15,40,0,0,0,0,25,0,3,6,0,26
2017-06-01 00:00:01,9,0,24,24,28,28,29,30,-28,0,3,6,0,0

In [31]:
pred_y_test = pred_X_test['bike_pull4']

In [33]:
pred_X_test = pred_X_test.drop(['bike_pull4'], axis=1)

In [34]:
pred_X_test.head()

,station_id,bikes,spaces,total_docks,bike_lag,bike_lag2,bike_lag3,bike_lag4,deposit,hour,day_of_week,month,weekend
timestamp,,,,,,,,,,,,,
2017-06-01 00:00:01,1,0,31,31,0,0,0,0,0,0,3,6,0
2017-06-01 00:00:01,82,22,0,22,4,4,4,4,18,0,3,6,0
2017-06-01 00:00:01,81,25,15,40,0,1,0,0,25,0,3,6,0
2017-06-01 00:00:01,80,25,15,40,0,0,0,0,25,0,3,6,0
2017-06-01 00:00:01,9,0,24,24,28,28,29,30,-28,0,3,6,0

In [35]:
pred = model.predict(pred_X_test)

In [36]:
res = model.score(pred_X_test, pred_y_test)

In [38]:
print("Test score: {0:.2f} %".format(100 * res))

Test score: 98.38 %

In [24]:
for x in pred:
    print(int(x))

0
22
25
26
0
26
32
1
0
33
39
0
29
29
17
20
10
13
18
0
1
16
19
18
39
34
19
22
0
0
19
39
29
40
8
40
30
40
22
28
3
0
0
29
37
37
2
29
0
2
0
30
29
27
0
4
2
0
15
29
1
0
0
28
26
0
0
0
6
6
0
0
0
30
1
0
1
10
1
12
26
1
19
8
1
1
25
2
0
19
0
0
0
0
6
7
0
0
1
20
30
0
27
40
29
0
16
1
0
30
26

In [21]:
score = model.score(X_test, y_test)

In [22]:
print("Test score: {0:.2f} %".format(100 * score))

Test score: 98.94 %

In [26]:
# Save to file in the current working directory
joblib_file = "joblib_model_pull4.pkl"

In [27]:
joblib.dump(model, joblib_file)

['joblib_model_pull4.pkl']

In [ ]:
#model = joblib.load(joblib_file)

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 27900395 entries, 2017-06-01 00:00:01 to 2018-06-28 16:46:02
Data columns (total 13 columns):
station_id     int64
bikes          int64
spaces         int64
total_docks    int64
bike_lag       int64
bike_lag2      int64
bike_lag3      int64
deposit        int64
hour           int64
day_of_week    int64
month          int64
weekend        int64
bike_pull3     int64
dtypes: int64(13)
memory usage: 3.5 GB

In [20]:
from sklearn.externals import joblib

In [21]:
cd /Volumes/NEILOSX

[Errno 2] No such file or directory: '/Volumes/NEILOSX'
/Volumes/NEILOSX

In [19]:
ls

shell-init: error retrieving current directory: getcwd: cannot access parent directories: No such file or directory
ls: .: No such file or directory

In [7]:
model_pickle = 'joblib_model_pull4.pkl'

In [1]:
loaded_model = joblib.load(model_pickle) 
#IPython.display.Audio("Nick Cave and the Bad Seeds - We No Who U R.mp3", autoplay=True)

NameError: name 'joblib' is not defined

In [9]:
#import IPython
#IPython.display.Audio("Nick Cave and the Bad Seeds - We No Who U R.mp3", autoplay=True)

In [10]:
pred_X_test = pd.read_csv('validateme4 copy.csv', index_col='timestamp', parse_dates=True)

In [11]:
pred_X_test.head(1)

,station_id,bikes,spaces,total_docks,bike_lag,bike_lag2,bike_lag3,bike_lag4,deposit,hour,day_of_week,month,weekend,bike_pull4
timestamp,,,,,,,,,,,,,,
2017-01-06,1,0,31,31,0,0,0,0,0,0,3,6,0,0

In [12]:
pred_y_test = pred_X_test['bike_pull4']

In [13]:
pred_X_test = pred_X_test.drop('bike_pull4', axis=1)

In [14]:
pres1= loaded_model.predict(pred_X_test)

In [16]:
for c in pres1:
    print(int(c))

0
22
25
26
0
26
32
1
0
33
39
0
29
29
17
20
10
13
18
0
1
16
19
18
39
34
19
22
0
0
19
39
29
40
8
40
30
40
22
28
3
0
0
29
37
37
2
29
0
2
0
30
29
27
0
4
2
0
15
29
1
0
0
28
26
0
0
0
6
6
0
0
0
30
1
0
1
10
1
12
26
1
19
8
1
1
25
2
0
19
0
0
0
0
6
7
0
0
1
20
30
0
27
40
29
0
16
1
0
30
26

In [16]:
model_pickle2 = 'joblib_model_pull3.pkl'

In [ ]:
loaded_model2 = joblib.load(model_pickle2) 
IPython.display.Audio("Nick Cave and the Bad Seeds - We No Who U R.mp3", autoplay=True)

NameError: name 'df' is not defined

In [17]:
ls

shell-init: error retrieving current directory: getcwd: cannot access parent directories: No such file or directory
ls: .: No such file or directory