In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.tree import DecisionTreeClassifier

from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor

In [1]:
df.info()

NameError: name 'df' is not defined

In [2]:
df = pd.read_csv('2018_pulled_features_plusthree.csv', index_col='timestamp', parse_dates=True)

In [4]:
df.head(2)

,station_id,bikes,spaces,total_docks,bike_lag,bike_lag2,bike_lag3,deposit,hour,day_of_week,month,weekend,bike_pull3
timestamp,,,,,,,,,,,,,
2017-06-01 00:00:01,1,0,31,31,0,0,0,0,0,3,6,0,0
2017-06-01 00:00:01,82,22,0,22,4,4,4,18,0,3,6,0,22

In [5]:
X = df.drop('bike_pull3', axis=1)
y = df['bike_pull3']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [6]:
X_test.head(2)

,station_id,bikes,spaces,total_docks,bike_lag,bike_lag2,bike_lag3,deposit,hour,day_of_week,month,weekend
timestamp,,,,,,,,,,,,
2018-06-18 06:20:02,10,7,9,16,7,7,7,0,6,0,6,0
2018-03-28 12:54:02,31,9,11,20,11,10,9,-2,12,2,3,0

In [7]:
rfr = RandomForestRegressor(n_estimators=50, random_state=0, n_jobs=-1)

In [8]:
model = rfr.fit(X_train, y_train)

In [10]:
predictions = rfr.predict(X_test)

In [11]:
print(rfr.feature_importances_)

[1.81697550e-03 9.90131249e-01 4.87424277e-04 2.37322914e-04
 3.86755454e-04 7.15730471e-04 8.41044487e-04 3.85110442e-04
 1.41238014e-03 1.37237136e-03 2.12791108e-03 8.57250376e-05]

In [12]:
print(predictions)

[ 6.85779965  8.9168254  13.87386813 ...  0.07413737  2.
 19.78308725]

In [13]:
errors = abs(predictions - y_test)

In [14]:
print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees.')

Mean Absolute Error: 0.57 degrees.

In [20]:
#print(confusion_matrix(y_test, predictions))

# print(classification_report(y_test, predictions))

In [80]:
print(model.predict(validate_model))

[-4.  0. -1.]

In [ ]:
plt.errorbar(X, y, 0.3, fmt='o', alpha=0.5)
plt.plot(X_train, y_train, '-r')
plt.plot(X_test, y_test, '-k', alpha=0.5)

In [13]:
print(confusion_matrix(y_test, predictions))
print(classification_report(y_test, predictions))

ValueError: Classification metrics can't handle a mix of multiclass and continuous targets

In [14]:
confirm = validate_model['deposit']

NameError: name 'validate_model' is not defined

In [ ]:
validation_to_set = validate_model.drop('deposit', axis=1)

In [ ]:
predictions = model.predict(validation_to_set)

In [18]:
len(pd.unique(df['station_id']))

111

In [23]:
test = df.head(111)

In [24]:
test.to_csv('validateme3.csv')

In [25]:
test.head()

,station_id,bikes,spaces,total_docks,bike_lag,bike_lag2,bike_lag3,deposit,hour,day_of_week,month,weekend,bike_pull3
timestamp,,,,,,,,,,,,,
2017-06-01 00:00:01,1,0,31,31,0,0,0,0,0,3,6,0,0
2017-06-01 00:00:01,82,22,0,22,4,4,4,18,0,3,6,0,22
2017-06-01 00:00:01,81,25,15,40,0,1,0,25,0,3,6,0,25
2017-06-01 00:00:01,80,25,15,40,0,0,0,25,0,3,6,0,26
2017-06-01 00:00:01,9,0,24,24,28,28,29,-28,0,3,6,0,0

In [26]:
test = test.drop(['bike_pull3'], axis=1)

In [27]:
test.head()

,station_id,bikes,spaces,total_docks,bike_lag,bike_lag2,bike_lag3,deposit,hour,day_of_week,month,weekend
timestamp,,,,,,,,,,,,
2017-06-01 00:00:01,1,0,31,31,0,0,0,0,0,3,6,0
2017-06-01 00:00:01,82,22,0,22,4,4,4,18,0,3,6,0
2017-06-01 00:00:01,81,25,15,40,0,1,0,25,0,3,6,0
2017-06-01 00:00:01,80,25,15,40,0,0,0,25,0,3,6,0
2017-06-01 00:00:01,9,0,24,24,28,28,29,-28,0,3,6,0

In [33]:
pred = model.predict(test)

In [29]:
res = model.score(X_test, y_test)

In [30]:
print("Test score: {0:.2f} %".format(100 * score))

Test score: 98.94 %

In [34]:
for x in pred:
    print(int(x))

0
21
25
26
0
25
33
1
0
33
39
0
29
28
17
19
10
14
19
0
1
16
19
17
40
34
19
22
0
0
19
39
29
40
8
40
32
40
22
28
4
0
0
29
37
37
2
29
0
2
0
29
29
23
0
4
1
0
15
32
1
0
0
28
27
0
0
0
6
5
0
0
0
30
1
0
1
10
1
19
27
0
19
7
2
1
25
2
0
18
0
0
0
1
6
7
0
0
1
20
30
0
26
40
29
0
15
1
0
29
26

In [21]:
score = model.score(X_test, y_test)

In [22]:
print("Test score: {0:.2f} %".format(100 * score))

Test score: 98.94 %

In [17]:
from sklearn.externals import joblib

In [18]:
# Save to file in the current working directory
joblib_file = "joblib_model_pull3.pkl"

In [19]:
joblib.dump(model, joblib_file)

['joblib_model_pull3.pkl']

In [ ]:
#model = joblib.load(joblib_file)

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 27900395 entries, 2017-06-01 00:00:01 to 2018-06-28 16:46:02
Data columns (total 13 columns):
station_id     int64
bikes          int64
spaces         int64
total_docks    int64
bike_lag       int64
bike_lag2      int64
bike_lag3      int64
deposit        int64
hour           int64
day_of_week    int64
month          int64
weekend        int64
bike_pull3     int64
dtypes: int64(13)
memory usage: 3.5 GB