In [1]:
from sklearn.metrics import mean_squared_error
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('results_deux.csv', index_col='timestamp', parse_dates=True)

In [3]:
df.columns

Index(['station_id', 'bikes', 'spaces', 'total_docks', 'hour', 'day_of_week',
       'month', 'weekend', 'bike_pull', 'bike_pull2', 'bike_pull3',
       'bike_pull4', 'rf', 'rf2', 'rf3', 'rf4', 'delta', 'delta2', 'delta3',
       'delta4'],
      dtype='object')

In [134]:
df['time'] = pd.to_datetime(df.index).time

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 77608 entries, 2018-08-02 00:08:00 to 2018-08-02 23:50:00
Data columns (total 20 columns):
station_id     77608 non-null int64
bikes          77608 non-null int64
spaces         77608 non-null int64
total_docks    77608 non-null int64
hour           77608 non-null int64
day_of_week    77608 non-null int64
month          77608 non-null int64
weekend        77608 non-null int64
bike_pull      77608 non-null int64
bike_pull2     77608 non-null int64
bike_pull3     77608 non-null int64
bike_pull4     77608 non-null int64
rf             77608 non-null int64
rf2            77608 non-null int64
rf3            77608 non-null int64
rf4            77608 non-null int64
delta          77608 non-null int64
delta2         77608 non-null int64
delta3         77608 non-null int64
delta4         77608 non-null int64
dtypes: int64(20)
memory usage: 12.4 MB

In [9]:
df = df.dropna()

In [11]:
for col in df.columns:
    print(col)
    df[col] = df[col].astype(int)

station_id
bikes
spaces
total_docks
hour
day_of_week
month
weekend
bike_pull
bike_pull2
bike_pull3
bike_pull4
rf
rf2
rf3
rf4
delta
delta2
delta3
delta4

In [15]:
mean_squared_error(df['bike_pull'], df['rf'])

0.533488815586022

In [5]:
mean_squared_error(df['bike_pull2'], df['rf2'])

3.169573429285641

In [6]:
mean_squared_error(df['bike_pull3'], df['rf3'])

4.774271158901145

In [7]:
mean_squared_error(df['bike_pull4'], df['rf4'])

2.9132486676631277

In [23]:
df = df[df['station_id']==34]

In [26]:
df.head()

,station_id,bikes,spaces,total_docks,hour,day_of_week,month,weekend,bike_pull,bike_pull2,bike_pull3,bike_pull4,rf,rf2,rf3,rf4,delta,delta2,delta3,delta4
timestamp,,,,,,,,,,,,,,,,,,,,
2018-08-02 00:08:00,34,19,11,30,0,3,2,0,19,19,20,20,20,19,18,19,1,0,2,1
2018-08-02 00:10:00,34,19,11,30,0,3,2,0,19,20,20,20,20,19,18,19,1,1,2,1
2018-08-02 00:12:00,34,19,11,30,0,3,2,0,20,20,20,20,20,19,18,19,0,1,2,1
2018-08-02 00:14:00,34,20,10,30,0,3,2,0,20,20,20,20,21,24,24,21,1,4,4,1
2018-08-02 00:16:00,34,20,10,30,0,3,2,0,20,20,20,20,20,23,23,20,0,3,3,0