In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('2017-06_features_complete.csv', parse_dates=True, index_col='timestamp')

In [3]:
df.head(2)

,Unnamed: 0,tfl_id,bikes,spaces,total_docks,deposit,deposit_lag,month,weekday,day,deposit_flag
timestamp,,,,,,,,,,,
2017-06-01 00:00:01,20,1,0,31,31,0,0,6,4,1,0
2017-06-01 00:00:01,52,82,22,0,22,18,4,6,4,1,1

In [4]:
df.isnull().values.any()

False

In [5]:
if df.isnull().values.any() == True:
    for column in df.columns:
        print(df[column].isnull().values.any())
        print(column)
else:
    print("There are no null values")

There are no null values

In [6]:
#from sklearn.preprocessing import StandardScaler

In [7]:
#scaler = StandardScaler()

In [4]:
df = df.drop('deposit_lag', axis=1)

In [5]:
#scaler.fit(df.drop('deposit_flag', axis=1))

In [6]:
df.tail(5)

,Unnamed: 0,tfl_id,bikes,spaces,total_docks,deposit,month,weekday,day,deposit_flag
timestamp,,,,,,,,,,
2018-06-28 16:46:02,27900358,50,0,40,40,0,6,4,28,0
2018-06-28 16:46:02,27900321,5,15,25,40,2,6,4,28,0
2018-06-28 16:46:02,27900327,49,40,0,40,2,6,4,28,0
2018-06-28 16:46:02,27900375,85,1,34,35,0,6,4,28,0
2018-06-28 16:46:02,27900305,112,2,28,30,-1,6,4,28,0

In [11]:
#scaled_features = scaler.transform(df.drop('deposit_flag', axis=1))

In [12]:
#scaled_features

In [13]:
#df_feat = pd.DataFrame(scaled_features, columns=df.columns[:-1])

In [14]:
#df_feat.head()

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
X = df.drop('deposit_flag', axis=1)
y = df['deposit_flag']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [9]:
X.head()

,Unnamed: 0,tfl_id,bikes,spaces,total_docks,deposit,month,weekday,day
timestamp,,,,,,,,,
2017-06-01 00:00:01,20,1,0,31,31,0,6,4,1
2017-06-01 00:00:01,52,82,22,0,22,18,6,4,1
2017-06-01 00:00:01,5,81,25,15,40,25,6,4,1
2017-06-01 00:00:01,81,80,25,15,40,25,6,4,1
2017-06-01 00:00:01,39,9,0,24,24,-28,6,4,1

In [10]:
y.head(2)

timestamp
2017-06-01 00:00:01    0
2017-06-01 00:00:01    1
Name: deposit_flag, dtype: int64

In [11]:
X_train.head(2)

,Unnamed: 0,tfl_id,bikes,spaces,total_docks,deposit,month,weekday,day
timestamp,,,,,,,,,
2017-10-29 14:34:02,10694983,69,8,32,40,0,10,0,29
2017-12-23 00:36:01,14542391,49,13,27,40,0,12,6,23

In [12]:
X_test.head(2)

,Unnamed: 0,tfl_id,bikes,spaces,total_docks,deposit,month,weekday,day
timestamp,,,,,,,,,
2018-06-18 06:20:02,27084259,10,7,9,16,0,6,1,18
2018-03-28 12:54:02,21011373,31,9,11,20,-2,3,3,28

In [ ]:
#df[df['tfl_id']==10]

In [13]:
from sklearn.metrics import classification_report, confusion_matrix

In [14]:
#print(confusion_matrix(y_test, pred))
##print(classification_report(y_test,pred))

from sklearn.tree import DecisionTreeClassifier

# print(confusion_matrix(y_test, pred))
print(classification_report(y_test,pred))

In [21]:
from sklearn.tree import DecisionTreeClassifier

In [22]:
y_test[y_test == 0].count()

8367509

In [23]:
y_train[y_train == 1].count()

6068

In [24]:
X_train.head(2)

,Unnamed: 0,tfl_id,bikes,spaces,total_docks,deposit,month,weekday,day
timestamp,,,,,,,,,
2017-10-29 14:34:02,10694983,69,8,32,40,0,10,0,29
2017-12-23 00:36:01,14542391,49,13,27,40,0,12,6,23

In [25]:
#X = df.drop('deposit_flag', axis=1)

In [26]:
#y = df['deposit_flag']

In [27]:
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [28]:
dtree = DecisionTreeClassifier()

In [29]:
dtree.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [30]:
predictions = dtree.predict(X_test)

In [31]:
print(confusion_matrix(y_test, predictions))
print(classification_report(y_test, predictions))

[[8367509       0]
 [      0    2610]]
             precision    recall  f1-score   support

          0       1.00      1.00      1.00   8367509
          1       1.00      1.00      1.00      2610

avg / total       1.00      1.00      1.00   8370119

In [32]:
print(predictions)

[0 0 0 ... 0 0 0]

In [15]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor

In [ ]:
rfc = RandomForestClassifier(n_estimators=200)

In [ ]:
rfc.fit(X_train, y_train)

In [ ]:
rfc_pred = rfc.predict(X_test)

In [ ]:
print(confusion_matrix(y_test, rfc_pred))
print(classification_report(y_test, rfc_pred))

In [ ]:
mdl = RandomForestRegressor(n_estimators=200, n_jobs=-1, random_state=0)

In [ ]:
mdl.fit(X_train, y_train)

In [ ]:
mdl_pred = mdl.predict(X_test)

In [ ]:
#print(confusion_matrix(y_test, mdl_pred))
#print(classification_report(y_test, mdl_pred))
print(mdl.feature_importances_)

In [ ]:
errors = abs(mdl_pred - y_test)

In [ ]:
print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees.')

In [ ]:
print(mdl.predict(mdl_pred))

In [ ]:
from sklearn import svm

In [ ]:
clf = svm.SVC(gamma=0.001, C=100.)

In [ ]:
clf.fit(X_train, y_train)

In [ ]:
clf.predict(X_test)

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
model = LogisticRegression()
model.fit(X_train, y_train)

In [ ]:
model.predict(X_test)