In [103]:
import pandas as pd
import numpy as np

In [104]:
df = pd.read_csv('Thursday 2nd August.csv')

In [105]:
df.head(2)

          timestamp  tfl_id  bikes  spaces  total_docks
0  02/08/2018 00:00      42     29       1           30
1  02/08/2018 00:00      30      4      16           20

In [106]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78480 entries, 0 to 78479
Data columns (total 5 columns):
timestamp      78480 non-null object
tfl_id         78480 non-null int64
bikes          78480 non-null int64
spaces         78480 non-null int64
total_docks    78480 non-null int64
dtypes: int64(4), object(1)
memory usage: 3.0+ MB

In [107]:
df.describe()

             tfl_id         bikes        spaces   total_docks
count  78480.000000  78480.000000  78480.000000  78480.000000
mean      56.045872     11.195502     20.510512     31.880734
std       32.031549     11.657462     12.356111      7.545294
min        1.000000      0.000000      0.000000     16.000000
25%       29.000000      1.000000     11.000000     29.000000
50%       56.000000      7.000000     20.000000     30.000000
75%       83.000000     20.000000     30.000000     40.000000
max      112.000000     40.000000     40.000000     40.000000

In [108]:
df.rename(columns={'tfl_id': 'station_id'}, inplace=True)

In [109]:
df = df.sort_values(by=['station_id','timestamp'])

In [110]:
df['station_id'] = df['station_id'].fillna(0).astype(int)

In [111]:
df['bikes'] = df['bikes'].fillna(0).astype(int)

In [112]:
df['spaces'] = df['spaces'].fillna(0).astype(int)

In [113]:
df['total_docks'] = df['total_docks'].fillna(0).astype(int)

In [114]:
df.head(2)

            timestamp  station_id  bikes  spaces  total_docks
16   02/08/2018 00:00           1     14      17           31
125  02/08/2018 00:02           1     14      17           31

In [115]:
df['bike_lag'] = df['bikes'].shift().fillna(0).astype(int)

In [116]:
df['bike_lag2'] = df['bikes'].shift(2).fillna(0).astype(int)

In [117]:
df['bike_lag3'] = df['bikes'].shift(3).fillna(0).astype(int)

In [118]:
df['bike_lag4'] = df['bikes'].shift(4).fillna(0).astype(int)

In [119]:
df['bike_pull'] = df['bikes'].shift(-1).fillna(0).astype(int)

In [120]:
df['bike_pull2'] = df['bikes'].shift(-2).fillna(0).astype(int)

In [121]:
df['bike_pull3'] = df['bikes'].shift(-3).fillna(0).astype(int)

In [122]:
df['bike_pull4'] = df['bikes'].shift(-4).fillna(0).astype(int)

In [123]:
df['deposit'] = df['bikes'].diff().fillna(0).astype(int)

In [124]:
df = df.sort_values(by=['timestamp'])

In [125]:
df = df.set_index('timestamp')

In [126]:
df['hour'] = pd.DatetimeIndex(df.index).hour

In [127]:
df['day_of_week'] = pd.DatetimeIndex(df.index).dayofweek

In [128]:
df['month'] = pd.DatetimeIndex(df.index).month

In [129]:
df['weekend'] = df['day_of_week'] > 4

In [130]:
df['weekend'] = df['weekend'].astype(int)

In [131]:
df.head()

,station_id,bikes,spaces,total_docks,bike_lag,bike_lag2,bike_lag3,bike_lag4,bike_pull,bike_pull2,bike_pull3,bike_pull4,deposit,hour,day_of_week,month,weekend
timestamp,,,,,,,,,,,,,,,,,
02/08/2018 00:00,1,14,17,31,0,0,0,0,14,14,14,14,0,0,3,2,0
02/08/2018 00:00,12,19,1,20,0,0,0,0,19,19,19,19,19,0,3,2,0
02/08/2018 00:00,77,6,23,29,7,7,7,7,6,6,6,6,-1,0,3,2,0
02/08/2018 00:00,36,0,40,40,19,19,19,19,0,0,0,0,-19,0,3,2,0
02/08/2018 00:00,13,1,29,30,11,9,9,9,1,1,1,1,-10,0,3,2,0

In [132]:
for i in range(1,5):
    if i ==1:     
        popped = df.pop('bike_pull')
        df['bike_pull'] = popped
    else:
        popped = df.pop('bike_pull'+str(i))
        df['bike_pull'+str(i)] = popped       
    print('bike_pull'+str(i))

bike_pull1
bike_pull2
bike_pull3
bike_pull4

In [134]:
df.tail(2)

,station_id,bikes,spaces,total_docks,bike_lag,bike_lag2,bike_lag3,bike_lag4,deposit,hour,day_of_week,month,weekend,bike_pull,bike_pull2,bike_pull3,bike_pull4
timestamp,,,,,,,,,,,,,,,,,
02/08/2018 23:58,37,5,25,30,5,5,5,5,0,23,3,2,0,25,25,25,25
02/08/2018 23:58,112,30,0,30,30,30,30,30,0,23,3,2,0,0,0,0,0

In [135]:
df.to_csv('Thursday2ndAugust_features.csv')

In [101]:
df.head()

AttributeError: 'NoneType' object has no attribute 'head'

In [102]:
df.isnull().values.any()

AttributeError: 'NoneType' object has no attribute 'isnull'