In [1]:
import pandas as pd
import numpy as np

In [3]:
all = pd.read_csv('176-01-ind_dublinalt.csv')

In [4]:
all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105234404 entries, 0 to 105234403
Data columns (total 5 columns):
17                     int64
9                      int64
11                     int64
0                      int64
2010-12-23 16:22:02    object
dtypes: int64(4), object(1)
memory usage: 3.9+ GB

In [5]:
all.head()

   17   9  11  0  2010-12-23 16:22:02
0  15   4  12  0  2010-12-23 16:22:02
1  18   3  27  0  2010-12-23 16:22:02
2   1  27   2  0  2010-12-23 16:22:02
3  19  14  16  0  2010-12-23 16:22:02
4   6   2  18  0  2010-12-23 16:22:02